:root {
    --Yellow: #f6c20a;
    --Purple: #de197e;
    --SkyBlue: #15acdf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*background-image: url(./img/bg.svg);*/
    /*background-image: linear-gradient(to right bottom, #e1316c, #e64487, #e856a1, #e769ba, #e47bd1, #d578d4, #c576d6, #b474d7, #945fc8, #734bb9, #4d39aa, #10299b);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: radial-gradient(18% 28% at 95% 3%, #49D25CFF 13%, #073AFF00 100%),radial-gradient(18% 28% at 81% -2%, #49D25CFF 13%, #073AFF00 100%),radial-gradient(70% 53% at 67% 77%, #FFD00CFF 0%, #073AFF00 100%),radial-gradient(35% 56% at 10% 30%, #F134C1F5 29%, #073AFF00 100%),radial-gradient(74% 86% at -16% -24%, #6D9DFFF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #D822A4FF 100%);
    height: 100%;
}

@media screen and (min-width: 776px) {
  body{
    height: 100vh;}
}

.homepage, .estrazione-page {
    text-align: center;
}

.logo-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.623));
}

.logo-2 {
    width: 200px;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.623));
}

.cta {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 3em;
    padding: 15px 30px;
    background-color: var(--Purple);
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    max-width: 350px;
    text-transform: uppercase;
    transition: background-color 0.3s ease; 
    margin-bottom: 5em;/* Aggiunta transizione */
}

.cta:hover {
    background-color: var(--SkyBlue);
}

.button {
    text-decoration: none;
    color: white;
}

.content {
    position: relative;
    padding: 15px;
    margin: 6em 25%;
    border-radius: 24px;
    background-color: white;
}


@media screen and (max-width: 776px) {
    .content{
        margin: 5em 1em;
    }
    
    .logo-2{width: 30%; margin-top: 1.5em;}

    .logo-index{
        margin-top: 2em;
        width: 80%;
    }

    .cta{
        margin-top: 4em;
    }
}

/*.premio-block {
    margin-top: 50px;
}*/

.premio-block p{color: #0030a3; margin-top: 1em;}

.premio{
  margin-top: 1em;
    font-size: 42px;
    color: #0030a3;
    text-transform: uppercase;
}

.numero-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.buttons-container{
  margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 5px;}

.estrai-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#estraiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    padding: 8px 16px;
    background-color: var(--Purple);
    color: white;
    font-size: 21px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}


.secondary-button {
  font-size: 14px;
  border-radius: 50px;
  border:2px solid #0030a3;
    color: #0030a3;
    padding: 9px;
    text-decoration: none;
    cursor: pointer;
}


.riepilogo-text{
    font-size: 6em;
}

@media screen and (max-width: 776px) {
    .riepilogo-text{font-size: 2em;}
}

  
  .container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2em;
    margin: 6em;
  }
  
  .card {
    position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      gap: 1em;
      height: 300px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .medal{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5em;
  }

#numero1, #numero2, #numero3{
  font-size: 3em;
}

.card-content h1{
  color: var(--Purple) !important;
}

  .card p{
    font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
  }


  .first {
    border-radius: 18px;
    border: 3px solid gold;
  }

  .second {
    border-radius: 18px;
    border: 3px solid silver;
  }

  .third {
    border-radius: 18px;
    border: 3px solid #cd7f32 ;
  }

  .card-content{
      padding:20px;
      text-align: center;
      
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .container div:nth-child(1) .card-footer {
    background-color: gold;
  }
  
  .container div:nth-child(2) .card-footer {
    background-color: silver;
  }
  
  .container div:nth-child(3) .card-footer {
    background-color: #cd7f32;
  }

  
  .card-footer {
      display: flex;
      gap: 1em;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 30px 10px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  footer{
    position: absolute;
    width: 100vw;

  }


  .credit-text{
    color: white;
    background-color: var(--Purple);
    text-align: center;
    padding: 20px;
  }
  
  @media screen and (max-width: 776px) {
      .container{
        margin-top: 5em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5em;
      }

      .card{
        width: 21.5em;
      }
  
  }

/* style.css */

.fade-in {
    animation: fadeIn ease-in-out 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  background-color: white;
  border: 3px solid var(--Purple);
  color: var(--Purple);
  font-size: 36px;
  font-weight: 700;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.numero-animato {
  animation: slotSpin 1s ease-in-out;
  position: absolute;
  width: 100%;
  text-align: center;
}

@keyframes slotSpin {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  50% {
      transform: translateY(-10%);
      opacity: 1;
  }
  100% {
      transform: translateY(0%);
  }
}


.premio-block {
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

/* Stile per il contenitore dei confetti */
#tsparticles {
  position: fixed; /* Copre l'intero schermo */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Posizionato sotto il contenuto principale */
  pointer-events: none; /* Non interferisce con i clic */
}




